<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="font-family: Outfit;">CHANAKYA</title>
    <link rel="shortcut icon" href="WhatsApp_Image_2023-09-22_at_9.00.28_PM-removebg-preview.png" type="image/x-icon">
</head>
<body style="font-family: Roboto; margin: 0; padding: 0; background-color: #0ABBC6;">

    <header>
        <nav style="display: flex; justify-content: space-between; margin: 20px;">
            <a href="#" style="text-decoration: none; font-size: 10px; color: white; gap: 15px; justify-content: center; font-family: Outfit;"> <h1>HOME</h1> </a>
            <div class="nav_elements" style="display: flex; justify-content: space-evenly; width: 70%;">
                <a href="#" style="text-decoration: none; font-size: 10px; color: white; gap: 15px; justify-content: center; font-family: Outfit;"><h1>About</h1></a>
                <a href="#" style="text-decoration: none; font-size: 10px; color: white; gap: 15px; justify-content: center; font-family: Outfit;"><h1>Start Learning</h1></a>
                <a href="#" style="text-decoration: none; font-size: 10px; color: white; gap: 15px; justify-content: center; font-family: Outfit;"><h1>Official Legal Documents</h1></a>
                <a href="#" style="text-decoration: none; font-size: 10px; color: white; gap: 15px; justify-content: center; font-family: Outfit;"><h1>Contact Us</h1></a>
            </div>
        </nav>
    </header>

    <div class="container" style="display: flex; justify-content: center; overflow-x: hidden; overflow-y: auto; width: 100vw; height: 100vh;">

        <div class="circle" style="border-radius: 50%; height: 40vh; position: fixed; left: 0; z-index: 2; top: 0; filter: blur(100px); opacity: 0.5; background-color: white;"></div>

        <div class="wrapper" style="width: 1200px; height: 100vh;">
            <main>
                <div class="grid" style="display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: 100px 1fr 1fr;">
                    <h1 style="color: white; font-family: Outfit; font-size: 50px; width: 300px; line-height: 50px;">Gamify Your Learning</h1>
                    <img src="WhatsApp_Image_2023-09-22_at_9.00.28_PM-removebg-preview.png" alt="Logo" style="overflow-y: hidden; position: relative; bottom: 100px; width: 100%; grid-column-start: 2; grid-row-start: 1; grid-row-end: 4;">
                    <p style="margin: 50px 0; color: white; font-size: 18px; line-height: 20px;">A place where your child can learn <br> about their rights in a fun way</p>
                    <div class="buttons" style="grid-row-start: 3;">
                        <button value="Register" id="Register" style="background-color: #C7E7F8; border: 1px solid #C7E7F8; border-radius: 83px; height: 45px; width: 133px; margin-right: 35px; font-family: Outfit; font-size: 16px;">REGISTER</button>
                        <button value="Login" id="Login" style="background-color: transparent; border: 1px solid #C7E7F8; border-radius: 83px; height: 45px; width: 133px; font-family: Outfit; font-size: 16px;">LOGIN</button>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
